* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.control-buttons {
  position: relative;
  z-index: 1000;
}

.container {
  margin: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
button {
  position: absolute;
  bottom: 20vh;
  text-transform: capitalize;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  border: 1px solid white;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  color: white;
  font: 0.8125rem sans-serif;
  outline: none;
  z-index: 99999;
  cursor: pointer;
}
.background {
  width: 100%;
  position: absolute;
  height: 100vh;
  background-size: contain;
  background-image: url("https://scontent.fjog3-1.fna.fbcdn.net/v/t39.30808-6/331113137_528518286017234_9000023443179809345_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=MeDb_qhAuEAAX9EW1_8&_nc_ht=scontent.fjog3-1.fna&oh=00_AfDtPq5GeMnKCTfTQ4AZGy8inCvdwoOp-MSbzyn3U56MlQ&oe=64549B43");
}
