html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  position: absolute;
  bottom: 20vh;
  text-transform: capitalize;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  border: 1px solid white;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  color: white;
  font: 0.8125rem sans-serif;
  outline: none;
  z-index: 99999;
  cursor: pointer;
}
canvas {
  height: 100vh !important;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
